<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<body>
<a href="/donations"><button>Donations</button></a>
<a href="/merch"><button>Merch shop</button></a>
<a href="/chatroom"><button>Chatroom</button></a>

<h1>About us</h1>
<p> 
    Founded in 1983, “Isha L’Isha” (Woman to Woman) is a successor to the feminist women of Haifa who fought for women’s rights in the 1970s.
    We are a community of women acting out of a desire to maintain partnership and understanding among women in Israel, regardless of religion, nationality, ethnic origin, sexual preference, or socioeconomic status.
    “Isha L’Isha” is the oldest feminist center in Israel and a leading voice in the struggle for women’s rights in the country.
</p>

</body>
</html>