<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type= "text/css" href="static/css/style.css">
	<title>merch page</title>
</head>
<body>
	<h1> merch page</h1>

<div class="card">
  <img src="static/images/totebag.png" alt="Denim Jeans" style="width:100%">
  <h1>tote bag</h1>
  <p>a convinient storage and it completes your look</p>
  <p class="price">$5</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="static/images/pin.png" alt="Denim Jeans" style="width:100%">
  <h1>pin</h1>
  <p>accessory for bags and jackets</p>
  <p class="price">$1</p>
  <p><button>Add to Cart</button></p>
</div>

<div class="card">
  <img src="static/images/case.png" alt="Denim Jeans" style="width:100%">
  <h1>phone case</h1>
  <p>comes in all types of phones</p>
  <p class="price">$5</p>
  <p><button>Add to Cart</button></p>
</div>



</body>
</html>