<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>News letter</title>
</head>
<body>
	<form>
	    <div>
	        <label>Name</label>
	        <div>
	            <input type="name"  name="name" id="nameStr" placeholder="enter your name" required>
	         </div>
	    </div>
	    <div>
	        <label>email</label>
	        <div>
	            <input type="email"  name="email" id="emailStr" placeholder="enter your email" required>
	         </div>
	    </div>
	</form>
</body>
</html>